@charset "UTF-8";
/*
vRollingList
dev : mins01
homepage : http://mins01.com
date : 2020-06-26
license : MIT + "공대여자는 예쁘다"를 나태내야함
 */
.vRollingList{
  height: 4em;

  position: relative;
  overflow: hidden;
  z-index: 1;

  /* 알맞게 재선언하자 */
  border: 0px solid #ccc;
  background-color: #f0f0f0;
}

.vRollingList-item{
  display: block;
  height: 2em;
  line-height: 2em;
  overflow: hidden;

  position: absolute;
  top:0;
  left:0;right:0;
  display: none;
  transition: all 0.3s ease-out;
  opacity: 1;
  pointer-events:none;
  user-select: none;

  /* 알맞게 재선언하자 */
  border: 1px solid #000;
  background-color: #f0f0f0;
}

.vRollingList-item[data-pos="0"]{
  top:1em;
  display: block;
  transform: scale(1,1) opacity;
  filter: blur(0px);
  z-index: 10;
  pointer-events:all;
  user-select: auto;
}

.vRollingList-item[data-pos="-1"]{
  top:-1em;
  display: block;
  transform-origin: 50% 2em;
}
.vRollingList-item[data-pos="1"]{
  top:3em;
  display: block;
  transform-origin: 50% -0em;
}
.vRollingList-item[data-pos="-1"] ,
.vRollingList-item[data-pos="1"]{
  z-index: 9;
  transform: scale(0.95,0.8);
  filter: blur(1px);
  opacity: 0.6;
}

.vRollingList-item[data-pos="-2"]{
  top:-2em;
  display: block;
  transform-origin: 50% 2em;
}
.vRollingList-item[data-pos="2"]{
  top:4em;
  display: block;
  transform-origin: 50% -0em;
}
.vRollingList-item[data-pos="-2"] ,
.vRollingList-item[data-pos="2"]{
  z-index: 9;
  transform: scale(0.9,0.8);
  filter: blur(6px);
  opacity: 0.5;
}
