@charset "UTF-8";

.weather-box{
	box-sizing:content-box;
	/* width:300px; */
	margin: 0 auto;
	padding:5px 0;
	border:0px solid black;
}

.weather-box .very-small{
	font-size:8px;
}
.weather-box .sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	border: 0;
}

.weather-box .clearB{
	clear: both;
}
.weather-day_hour{
	text-align: center;
	font-size: 10px;
}




.weather-box-content{
	/* float: left; */
	display: inline-block;
	width:296px;
	border-radius: 3px;
	border:1px solid #abc;
	margin:2px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.weather-box-content:nth-of-type(2n+0){
	background-color: #eee;
}
.weather-box-content-col{
	width:20%;
	float: left;
}
.weather-box-content-col-long{
	width:24%;
}
.weather-box-content-col-short{
	width:18%;
}

.weather-icon{
	height:40px;
	margin:0 auto;
	border-radius: 50%;
	border: 0px solid black;
	text-align: center;
	line-height: 40px;
	font-size:30px;
	white-space: nowrap;
	position: relative;
}
.weather-icon .floating-top-right{
	position: absolute;top:0; right: 0;
	z-index: 10;
	line-height: 1em;
	border-radius: 3px;
	/* background-color: rgba(255,255,255,0.6); */
}
.weather-icon .icon{position: relative;	white-space: nowrap;}
.weather-icon .emoji{
	font-family: "Segoe UI Emoji","Segoe UI Symbol","Apple Color Emoji",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

/*
① 맑음 ☀
② 구름 조금 ☁
③ 구름 많음 ☁☁
④ 흐림 ⛅
⑤ 비 ☔
⑥ 눈/비 ❄ / ☔
⑦ 눈 ❄
 */
.weather-icon-wf .icon::before{display: inline-block;position: relative;}
.weather-icon-wf[data-sky="1"] .icon::before{	content: "☀";}
.weather-icon-wf[data-sky="2"] .icon::before{	content: "☁";font-size:20px; }
.weather-icon-wf[data-sky="3"] .icon::before{	content: "☁"; font-size:40px;}
/* .weather-icon-wf[data-sky="3"] .icon::after{	content: "☁";margin-left:-1em;} */
.weather-icon-wf[data-sky="4"] .icon::before{	content: "⛅";}
.weather-icon-wf[data-pty="1"] .icon::before{	content: "☔";}
.weather-icon-wf[data-pty="2"] .icon::before{	content: "☔"; z-index: 2}
.weather-icon-wf[data-pty="2"] .icon::after{	content: "☃️"; z-index: 1; margin-left:-0.5em}
.weather-icon-wf[data-pty="3"] .icon::before{	content: "☃️";z-index: 2}
.weather-icon-wf[data-pty="3"] .icon::after{	content: "☔"; z-index: 1; margin-left:-0.5em}
.weather-icon-wf[data-pty="4"] .icon::before{	content: "☃️";}
/* v-bibd:data-sky="row.sky" v-bibd:data-pty="row.pty" */

.weather-icon-temp{
	font-size:20px;
}
/*
① 동(E)
② 북(N)
③ 북동(NE)
④ 북서(NW)
⑤ 남(S)
⑥ 남동(SE)
⑦ 남서(SW)
⑧ 서(W)
SW 풍향영어
① E(동)
 */
/*
→ ← ← ↑ ↓ ↔ 〓
◁ ◀ ▷ ▶ ♤ ♠ ♡ ♥ ♧ ♣ ⊙ ◈ ▣ ◐ ◑ ▒ ▤ ▥ ▨ ▧ ▦ ▩ ♨ ☏ ☎ ☜ ☞ ¶ † ‡ ↕ ↗ ↙ ↖ ↘ ♭ ♩ ♪ ♬ ㉿ ㈜
➡️
⬆️↗️➡️↘️⬇️↙️⬅️↖️
↙️
 */

.weather-icon-wd[data-wd="0"] .icon::before{	content: "⬇️";} /*북풍*/
.weather-icon-wd[data-wd="1"] .icon::before{	content: "↙️";} /*북동풍*/
.weather-icon-wd[data-wd="2"] .icon::before{	content: "⬅️";} /*동풍*/
.weather-icon-wd[data-wd="3"] .icon::before{	content: "↖️";} /*남동풍*/
.weather-icon-wd[data-wd="4"] .icon::before{	content: "⬆️";} /*남풍*/
.weather-icon-wd[data-wd="5"] .icon::before{	content: "↗️";} /*남서풍*/
.weather-icon-wd[data-wd="6"] .icon::before{	content: "➡️";} /*서풍*/
.weather-icon-wd[data-wd="7"] .icon::before{	content: "↘️";} /*북서풍*/





.weather-icon-temp 
, .weather-icon-reh
, .weather-icon-r12
, .weather-icon-s12
, .weather-icon-r06
, .weather-icon-s06
, .weather-icon-tmx
, .weather-icon-tmn
{
	height:30px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}

.weather-box-content-col-short .weather-icon{
	font-size:16px;
}
.weather-icon-temp{
font-size: 28px; font-weight: bold;	
}


.weather-label{
	text-align: center;
	font-size:10px;
	line-height: 1.5em;
	line-height: 20px;
	height:20px;
}
.weather-label-wf{
	font-size: 10px;
	overflow: hidden;
	white-space: nowrap;
}

.weather-label-temp::after{
	content: ""
}