@charset "utf-8";

/* 해상도 */
.resolution-wrap{
  position: fixed;
  left:0;right:0;top:0;bottom:0;
  min-width: 100%;
  min-height:100%;
  overflow:hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
}
.resolution-box{
  outline: 4px dashed #ff00ffb2;
  outline-offset: -4px;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0 auto;
  position: relative;
  background-color: transparent
}
.resolution-box::before{ left:0;top:0; }
.resolution-box::before , .resolution-box::after{
  font-size: 40px;
  padding:0.25em 0.5em;
  background-color: rgb(252, 255, 47);
  position: absolute;
}
.resolution-box::after{
  display: flex; 
  content: '브라우저 상단 + 윈도우 바(150px)';
  height: 150px;
  padding: 0;
  left:0;right:0;bottom:0; 
  color:#fff;
  background-color: #00000033;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.resolution-box-fhd{ width:1920px; height:1080px;}
.resolution-box-fhd::before{ content: "FHD"; }
 
.resolution-box-uhd{ width:3840px; height:2160px;}
.resolution-box-uhd::before{ content: "UHD"; }
.resolution-box-qhd{ width:2560px; height:1440px;}
.resolution-box-qhd::before{ content: "QHD"; }

.resolution-box-hd{ width:1280px; height:720px;}
.resolution-box-hd::before{ content: "HD"; }


