@charset "utf-8";

.game-memory , .game-memory *{
    box-sizing: border-box;
}
.game-memory[data-running="false"] .game-board{
    filter: grayscale(1);
}


.game-memory{
    position: relative;
    padding:20px;
}
.game-layer-wrap{
    z-index: 11;
    position: absolute;
    left:0;right:0;bottom:0;top:0;
    background-color: #ffffff99;
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.game-memory[data-running="false"] .game-start-wrap{
    display: flex;
}
.game-memory[data-running="true"] .game-start-wrap,
.game-memory[data-ended="true"] .game-start-wrap{
    display: none;
}
.game-memory[data-ended="false"] .game-end-wrap{
    display: none;
}
.game-memory[data-ended="true"] .game-end-wrap{
    display: flex;
}
.game-end-result{
    white-space: pre-line;
    font-size: clamp(20px, 10vmin ,40px);
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    background-color: #ffffffaa;
    border-radius: 0.5em;
    border: 2px solid #aaa;
}


.game-memory .game-board-cards{
    --grid-repeat:4;
}
.game-memory[data-card-length="2"] .game-board-cards{ --grid-repeat:2; }
.game-memory[data-card-length="4"] .game-board-cards{ --grid-repeat:2; }
.game-memory[data-card-length="6"] .game-board-cards{ --grid-repeat:3; }
.game-memory[data-card-length="8"] .game-board-cards{ --grid-repeat:4; }
.game-memory[data-card-length="10"] .game-board-cards{ --grid-repeat:5; }
.game-memory[data-card-length="12"] .game-board-cards{ --grid-repeat:4; }
.game-memory[data-card-length="14"] .game-board-cards{ --grid-repeat:4; }
.game-memory[data-card-length="16"] .game-board-cards{ --grid-repeat:4; }
.game-memory[data-card-length="18"] .game-board-cards{ --grid-repeat:4; }
.game-memory[data-card-length="20"] .game-board-cards{ --grid-repeat:5; }



.game-board-cards{
    display: grid;
    grid-template-columns: repeat(var(--grid-repeat,5),1fr);
    gap: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}





.game-card{
    /* height:100px; */
    width: 100%;
}
.game-card-view{
    cursor: pointer;
    margin:0 auto;
    aspect-ratio: 63 / 88;
    width:100%;
    min-width: 40px;
    max-width: 120px;
    min-height: 10px;
    /* background-color: aqua; */
    border-radius: 10px;
    overflow: hidden;
    /* box-sizing: border-box; */
    /* box-shadow: 0px 0px 4px #00000099; */
}


.game-card .game-card-view{
    position: relative;
}
.game-card .game-card-view::after ,
.game-card .game-card-view::before{
    content: "NUM";
    display: flex;
    position: absolute;
    left:0;right:0;bottom:0;top:0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 10px;


    border:10px double #aaa;

    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    transition: all 0.3s;
    transform-style: preserve-3d;
}
.game-card .game-card-view::after{
    content: "";
    background: white;
    background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 0),
                      linear-gradient(rgba(200,0,0,.5) 50%, transparent 0);
    background-size: 30px 30px;
    background-position: 15px 15px;
    width:100%;
    height:100%;
    z-index: 9;
}
.game-card .game-card-view::before{
    background-color: #fff9f4;
    border: 10px double #aaa;
    font-size: clamp(20px, calc(30vmin / var(--grid-repeat,4) ) ,100px);
    content: "NUM";
    z-index: 8;
    opacity: 0;
}
.game-card .game-card-view::before{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.game-card .game-card-view::before{
    content: attr(data-num);
}
.game-card:is([data-selected="true"],[data-found="true"]) .game-card-view::after{
    opacity: 0;
    transform: rotateY(180deg);
}
.game-card:is([data-selected="true"],[data-found="true"]) .game-card-view::before{
    opacity: 1;
    transform: rotateY(0deg);
}




/* .game-card[data-selected="true"] .game-card-view{
    
} */
.game-card[data-found="true"] .game-card-view{
    transition: transform 0.3s;
    transform: rotate(6deg);
}
.game-card[data-found="true"] .game-card-view::before{
    border-color:rgb(212, 147, 139);
}


.game-card .game-card-view[data-num="0"]::before{ content: "😀"; }
.game-card .game-card-view[data-num="1"]::before{ content: "😁"; }
.game-card .game-card-view[data-num="2"]::before{ content: "😆"; }
.game-card .game-card-view[data-num="3"]::before{ content: "😅"; }
.game-card .game-card-view[data-num="4"]::before{ content: "🤣"; }
.game-card .game-card-view[data-num="5"]::before{ content: "😂"; }
.game-card .game-card-view[data-num="6"]::before{ content: "🙂"; }
.game-card .game-card-view[data-num="7"]::before{ content: "🙃"; }
.game-card .game-card-view[data-num="8"]::before{ content: "😉"; }
.game-card .game-card-view[data-num="9"]::before{ content: "😊"; }
