@charset "UTF-8";

.debug-bg{
	background-color: rgba(0,0,0,0.2);
}
.grlg{
	font-size:0px;
}
.grlg-items{
	display: grid !important;
	grid-template-columns: repeat(auto-fit,100px);
	grid-template-rows:  repeat(auto-fit,100px);
	grid-auto-columns: minmax(100px, auto);
	grid-auto-rows: minmax(100px, auto);
	grid-auto-flow: row ;
}
.grlg-items[data-dense]{
		grid-auto-flow: row dense;
}
.grlg-item{
	font-size:initial;
	/* display: block;	 */
	min-width:100px;height:100%;
	margin:0px;padding: 0px;
	box-sizing: content-box;
	
	position: relative;
}

.grlg-item[data-w="1"]{
	grid-column: auto 
}
.grlg-item[data-w="2"]{
	grid-column: auto / span 2
}
.grlg-item[data-w="3"]{
	grid-column: auto / span 3
}
.grlg-item[data-w="4"]{
	grid-column: auto / span 4
}
.grlg-item[data-w="5"]{
	grid-column: auto / span 5
}
.grlg-item[data-w="only"]{
	grid-column: 1 / 1fr;
}

.grlg-item[data-h="1"]{
	grid-row: auto 
}
.grlg-item[data-h="2"]{
	grid-row: auto/ span 2
}
.grlg-item[data-h="3"]{
	grid-row: auto/ span 3
}
.grlg-item[data-h="4"]{
	grid-row: auto/ span 4
}
.grlg-item[data-h="5"]{
	grid-row: auto/ span 5
}


.grlg-item-content{
	position: absolute;
	top:5px;left:5px;right:5px;bottom:5px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border:1px solid #000; */
	border-radius: 10px;
	white-space: normal;
	padding:0;margin:0;
	
	box-sizing: border-box;
	border-width: 0px
}
button.grlg-item-content{
	width: calc(100% - 10px);
}
.grlg-item-content[data-header]::before{
	position: absolute;
	top:0;left:0;right:0;
	content: attr(data-header);
	text-align: center;
	font-size: 0.7em; line-height: 1.2em;
	background-color: rgba(0,0,0,0.3);
	border-radius: 10px 10px 0 0;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 5px;
}
.grlg-item-content[data-footer]::after{
	content: attr(data-footer);
	position: absolute;
	bottom:0;left:0;right:0;
	text-align: center;
	font-size: 0.7em; line-height: 1.2em;
	background-color: rgba(0,0,0,0.3);
	border-radius: 0 0 10px 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 5px;
}