@charset "utf-8";


.piece-container{
    --shape-uneven:20px;
    --shape-multiple-top:0;
    --shape-multiple-right:0;
    --shape-multiple-bottom:0;
    --shape-multiple-left:0;    
}

.piece-wrap{
    display: flex;
    width: 200px;
    height: 200px;
    position: relative;
}

.piece-wrap.debug::before{
    content: '';
    display: block;
    position: absolute;
    left:0;right:0;top:0;bottom:0;
    outline:1px dotted #000;
    outline-offset: -1px;
    z-index: 10;
}


.piece-shape{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
}

.piece-shape{
    width:calc(100% + 2 * var(--shape-uneven,0));
    height:calc(100% + 2 * var(--shape-uneven,0));
    margin:calc(-1 * var(--shape-uneven,0));

    --shape-uneven-left:var(--shape-uneven,0);
    --shape-uneven-top:var(--shape-uneven,0);
    --shape-uneven-right:calc(100% - var(--shape-uneven,0));
    --shape-uneven-bottom:calc(100% - var(--shape-uneven,0));
    clip-path: polygon(
        var(--shape-uneven-left) var(--shape-uneven-top),
        50% calc(var(--shape-uneven-top) - var(--shape-multiple-top,0) * var(--shape-uneven,0)),
        var(--shape-uneven-right) var(--shape-uneven-top),
        calc(var(--shape-uneven-right) + var(--shape-multiple-right,0) * var(--shape-uneven,0)) 50%,
        var(--shape-uneven-right) var(--shape-uneven-bottom),
        50% calc(var(--shape-uneven-bottom) + var(--shape-multiple-bottom,0) * var(--shape-uneven,0)),
        var(--shape-uneven-left) var(--shape-uneven-bottom),
        calc(var(--shape-uneven-left) - var(--shape-multiple-left,0) * var(--shape-uneven,0)) 50%
    );
}
.piece-shape[data-shape-top="0"]{ --shape-multiple-top:0; }
.piece-shape[data-shape-top="1"]{ --shape-multiple-top:1; }
.piece-shape[data-shape-top="-1"]{ --shape-multiple-top:-1; }

.piece-shape[data-shape-right="0"]{ --shape-multiple-right:0; }
.piece-shape[data-shape-right="1"]{ --shape-multiple-right:1; }
.piece-shape[data-shape-right="-1"]{ --shape-multiple-right:-1; }

.piece-shape[data-shape-bottom="0"]{ --shape-multiple-bottom:0; }
.piece-shape[data-shape-bottom="1"]{ --shape-multiple-bottom:1; }
.piece-shape[data-shape-bottom="-1"]{ --shape-multiple-bottom:-1; }

.piece-shape[data-shape-left="0"]{ --shape-multiple-left:0; }
.piece-shape[data-shape-left="1"]{ --shape-multiple-left:1; }
.piece-shape[data-shape-left="-1"]{ --shape-multiple-left:-1; }