@charset "utf-8";


/* 사각별 */
.star-four{
    position: relative;
    display: inline-block;
    height: 1em;
    width: 1em;
}
/* 오각별  */
.star-five {
    display: inline-block;
    width: 1em;
    height: 1em;
    /* background: url(star-five.svg) center center; */
    /* background-size: contain; */

    background-color: #FA0;
    -webkit-mask: url(star-five.svg) no-repeat center center; ;
    mask: url(star-five.svg) no-repeat center center; ;
    -webkit-mask-size: contain;
    mask-size: contain;
}
