@charset "utf-8";

input.custom{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    --text-color:#333;
    --stroke-color:#666;
    --bg-color:#fff;
    --checked-color:#aaa;

    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
}
input.custom.transition{
    transition: all 0.2s;
}
input.custom[type="radio"],
input.custom[type="checkbox"]{
    display: inline-block;
    font-size: 0.8em;
    height:1em;
    width:1em;
    border: 0.2em solid var(--stroke-color);
    vertical-align: baseline;
}
input.custom[type="radio"]:checked,
input.custom[type="checkbox"]:checked{
    background-color: var(--checked-color);
}
input.custom[type="radio"]{
    border-radius: 50%;
}

/*
colors / 부트스트랩 호환 4+
*/
input.custom.primary{
    --text-color:var(--primary,#007bff);
    --checked-color:var(--primary,#007bff);
}
input.custom.secondary{
    --text-color:var(--secondary,#6c757d);
    --checked-color:var(--secondary,#6c757d);
}
input.custom.success{
    --text-color:var(--success,#28a745);
    --checked-color:var(--success,#28a745);
}
input.custom.info{
    --text-color:var(--info,#17a2b8);
    --checked-color:var(--info,#17a2b8);
}
input.custom.warning{
    --text-color:var(--warning,#ffc107);
    --checked-color:var(--warning,#ffc107);
}
input.custom.danger{
    --text-color:var(--danger,#dc3545);
    --checked-color:var(--danger,#dc3545);
}
input.custom.light{
    --text-color:var(--light,#f8f9fa);
    --checked-color:var(--light,#f8f9fa);
}
input.custom.dark{
    --text-color:var(--dark,#343a40);
    --checked-color:var(--dark,#343a40);
}

input.custom.border-primary{
    --stroke-color:var(--primary,#007bff);
}
input.custom.border-secondary{
    --stroke-color:var(--secondary,#6c757d);
}
input.custom.border-success{
    --stroke-color:var(--success,#28a745);
}
input.custom.border-info{
    --stroke-color:var(--info,#17a2b8);
}
input.custom.border-warning{
    --stroke-color:var(--warning,#ffc107);
}
input.custom.border-danger{
    --stroke-color:var(--danger,#dc3545);
}
input.custom.border-light{
    --stroke-color:var(--light,#f8f9fa);
}
input.custom.border-dark{
    --stroke-color:var(--dark,#343a40);
}
