@charset "UTF-8";

.gl{
	/* font-size: 0; */
}

.gl-item{
	font-size:initial;
	min-width:100px;height:100px;
	margin:0px;padding: 0px;
	box-sizing: content-box;
	position: relative;
}
.gl-box{
	position: absolute;
	top:5px;left:5px;right:5px;bottom:5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	white-space: normal;
	padding:0;margin:0;
	box-sizing: border-box;
	border-width: 0px;
	text-align: center;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	font-size:1rem;
}

button.gl-box{
	width: calc(100% - 10px);
}

.gl-box[data-header]::before{
	position: absolute;
	top:0;left:0;right:0;
	content: attr(data-header);
	text-align: center;
	font-size: 0.9em; line-height: 1.2em;
	background-color: rgba(0,0,0,0.4);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 5px;
	z-index: 10;
}
.gl-box[data-footer]::after{
	content: attr(data-footer);
	position: absolute;
	bottom:0;left:0;right:0;
	text-align: center;
	font-size: 0.9em; line-height: 1.2em;
	background-color: rgba(0,0,0,0.4);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 5px;
	z-index: 10;
}
a.gl-box[target="_blank"]:not([data-footer])::after
, a.gl-box[target="_blank"]:not([data-header])::before{
	position: absolute;
	bottom:5px;right:5px;
	content: " 🚀";
	z-index: 11;
}
a.gl-box[target="_blank"][data-header][data-footer]::after{
	content: attr(data-footer) " 🚀";
}
/* a.gl-box[target="_blank"]:not([data-header]):not([data-footer])::after{
	content: " 🚀";
} */

.gl-box-gray{
	background-color: #aaa;
	color:#000;
	cursor: pointer;
	transition: filter .15s ease-in-out;
	text-decoration: none;
}
.gl-box-gray::after,.gl-box-gray::before{
	color: #fff;
}

.gl-box-white{
	background-color: #eee;
	color:#000;
	cursor: pointer;
	transition: filter .15s ease-in-out;
	text-decoration: none;
}
.gl-box-black{
	background-color: #000;
	color:#eee;
	cursor: pointer;
	transition: filter .15s ease-in-out;
	text-decoration: none;
}

a.gl-box-gray:hover , a.gl-box-gray:active , a.gl-box-gray:visited{
	color:#000;
	text-decoration: none;
}
a.gl-box-white:hover , a.gl-box-white:active , a.gl-box-white:visited{
	color:#000;
	text-decoration: none;
}
a.gl-box-black:hover , a.gl-box-black:active , a.gl-box-black:visited{
	color:#fff;
	text-decoration: none;
}
.gl-box-gray:hover , .gl-box-gray:active 
, .gl-box-white:hover , .gl-box-white:active
, .gl-box-black:hover , .gl-box-black:active{
		filter: brightness(1.2);
}

.gl-box-black[data-header]::before
, .gl-box-black[data-header]::after{
	background-color: rgba(255,255,255,0.3);

}

.gl-text-truncated{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.gl-stech{
	width:100%;height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gl-box > img{
	width:100%; height:100%;
}
.gl-box > .gl-hover-scale{
	background-position: center center;
	transition: transform .15s ease-in-out
}
.gl-box:hover > .gl-hover-scale
, .gl-box:active > .gl-hover-scale{
	transform: scale(1.5);
}