<!doctype html>
<html lang="ko" >
<head>
	<meta charset="utf-8">
	<title>이모지 테스터</title>
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- jquery 관련 -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

	<!-- 부트스트랩 4 : IE8지원안됨! -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>
	<!-- vue.js -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- meta og -->

	<meta property="og:title" content="이모지 테스터">
	<meta property="og:description" content="이모지 테스터">
	<meta name="og:image" content="http://www.mins01.com/img/logo.gif">
	<meta property="og:image:width" content="190">
	<meta property="og:image:height" content="70" />
	<meta property="og:site_name" content="이모지 테스터" />
	<meta property="og:type" content="website">

	<!-- //meta og -->

	<style>
	.emoji-box{font-size:2em;}
	.emoji-box-SegoeUIEmoji{font-family: "Segoe UI Emoji";}
	.emoji-box-SegoeUISymbol{font-family: "Segoe UI Symbol";}
	.emoji-box-SegoeUI{font-family: "Segoe UI";}
	.emoji-box-HelveticaNeue{font-family: "Helvetica Neue";}
	.emoji-box-Arial{font-family: "Arial";}
	.emoji-box-sansSerif{font-family: "sans-serif";}
	</style>
	<script src="emojiList.js"></script>
	<script src="vueApp.js"></script>
	<script>
	$(function(){
		vueApp.emojiGroup = emojiGroup;
		document.querySelector('#v_emojiGroup').onchange();
		$('#v_emojiGroup_ALL').text($('#v_emojiGroup_ALL').text()+'('+emojiList.length+')')
	})
	function changeEmojiGroup(emojiGroup){
		console.log(emojiGroup);
		if(emojiGroup=='ALL'){
		vueApp.emojiList = emojiList;	
		}else{
		vueApp.emojiList = emojiGroups[emojiGroup]	
		}
		
	}
	</script>
</head>
<body>
	<div class="container-fluid" id="app-box">
		<h1>이모지 테스트</h1>
		<select class="form-control" id="v_emojiGroup" onchange="changeEmojiGroup(this.value)">
			<option  value="NONE" >NONE</option>
			<option  value="ALL" id="v_emojiGroup_ALL">ALL</option>
			<option  v-for="(v,k) in emojiGroup" :value="k">{{k}}({{v}})</option>
		</select>
		<table class="table" >
			<thead>
				<tr>
					<th>num</th>
					<th>emojiGroup</th>

					<th>text-Segoe UI Emoji</th>
					<th>text-Segoe UI Symbol</th>
					<th>text-Segoe UI</th>
					<th>text-Helvetica Neue</th>
					<th>text-Arial</th>
					<th>text-sans-serif</th>
					<!-- <th>htmlEntity</th> -->
					<th>hexString</th>
					<th>qualified</th>
					<th>desc</th>


				</tr>
			</thead>
			<tr v-for="(row,k) in emojiList">
				<td>{{k+1}}</td>
				<td>{{row.emojiGroup}}</td>
				<!-- <td v-html="row.htmlEntity"></td> -->

				<td><div class="emoji-box emoji-box-SegoeUIEmoji">{{row.text}}</div></td>
				<td><div class="emoji-box emoji-box-SegoeUISymbol">{{row.text}}</div></td>
				<td><div class="emoji-box emoji-box-SegoeUI">{{row.text}}</div></td>
				<td><div class="emoji-box emoji-box-HelveticaNeue">{{row.text}}</div></td>
				<td><div class="emoji-box emoji-box-Arial">{{row.text}}</div></td>
				<td><div class="emoji-box emoji-box-sansSerif">{{row.text}}</div></td>
				<!-- <td>{{row.htmlEntity}}<div v-html="row.htmlEntity"></div></td> -->
				<td>{{row.hexString}}</td>
				<td>{{row.qualified}}</td>
				<td>{{row.desc}}</td>



			</tr>
		</table>
	</div>
</body>
</html>
