@charset "UTF-8";

.fb-box-box{

}
.fb-box.off , .fb-box .off{
  display: none;
}
.fb-box.on{
  display: flex;
}
.fb-box{
  position: fixed;
  left: 0;right:0;top:0;bottom: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;  /* 가로 중앙 */
  align-items: center; /* 세로 중앙 */
  overflow-y: auto;
}
.fb-box .fb-banner{
  width: 300px;
  background-color: #fff;
  border:0.2em solid #fff;
  border-radius: 0.5em;
  overflow: hidden;
  margin:5px;

}
.fb-banner.off{
  display: none;
}
.fb-banner.on{
  display: block;
}
.fb-banner-content{
  background-color: #fff;
  padding:0.2em 0.5em;
  border-radius: 0.5em;
}
.fb-banner-header{
  background-color: #666;
  color:#fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding:0.2em 0.5em;
}
.fb-banner-footer{
  background-color: #666;
  color:#fff;
  overflow: hidden;
  white-space: nowrap;
  padding:0.2em 0.5em;
  text-align: right;
}

.fb-banner-footer button{
  background-color: #eee;
  border:1px solid rgba(0,0,0,0.5);
  border-radius: 0.5em;
  cursor: pointer;
}
.fb-banner-footer button:hover{
  background-color: #333;
  color: #fff;

}
