@charset "UTF-8";

.gamepad{
  position: relative;
}
.gamepad::before{
  content: "gamepad #"attr(data-index);
  /*position: absolute;  top:0;left:0;*/
  display: block;
  font-weight: bold;
  font-size: 18px;
  z-index: 10;
}
.gamepad[data-type="xbox"]{
  width:640px;
  height:430px;
  background-image: url('XBOX_Controller-CB2/XBOX_Controller-CB2-Preview.png');  /* https://craftsbytwo.com/xbox-controller-svg/ */
}

.gamepad .infobox{
  background-color: rgba(200,200,200,0.8);
  padding:5px;
  line-height:1em;
}
.gamepad .infobox{
  position: relative;
  display: inline-block;
  margin:5px;
  font-size: 12px;
}
.gamepad .button{
  border-radius: 50%;
  text-align: center;
  width:40px;
  height:40px;
  /*display: flex ;
  justify-content: center;
  align-items: center;*/
  border: 0px solid grey;
}
.gamepad .before-label::before{
  content: attr(data-label);
}
.gamepad .after-label::after{
  content: attr(data-value);
}
.gamepad .button::after{
  position: absolute;
  font-size:8px;
  left:0%;top: auto;right:0;bottom:-0.5em;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 5px; padding:2px;
  line-height: 1em;
}
.gamepad .button[data-pressed="1"]{
  border: 0px solid yellow;
  background-color: yellow;
}
.gamepad .button[data-pressed="1"]::after{
  background-color: rgba(0, 200, 0, 0.8);
}


.gamepad .axes{
  /*display: block ;*/
  border-radius: 5px;
  width: auto;
  height: auto;
}
.gamepad .axes::before{
  display: block;width:60px;
}
.gamepad .axes::after{
  position: absolute;
  font-size:8px;
  left:0%;top: auto;right:0;bottom:-0.5em;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 5px; padding:2px;
  line-height: 1em;

  right:0%;top:0;
  left:auto;bottom:auto;
}

.gamepad .axes input{
  width: 60px;
  height:10px;
  margin:2px 0;
}

.gamepad .info{
  display: block ;
  border-radius: 5px;
  width: auto;
  height: auto;
}
.gamepad .info::before{
  content: attr(data-label)' : '
}
.gamepad .info::after{
  content: none;
}
/**
 * null
 * @type {String}
 */
.gamepad[data-type="null"]{
  width:640px;height:100px;
}
.gamepad[data-type="null"]::after{
  content: "Gamepad not detected";
  display: block;
  position: absolute;left:0;right:0;top:0;bottom:0;
  line-height: 100px;
  text-align: center;
  height:100px;

}

/**
 * x-box gamepad
 * @type {String}
 */

.gamepad[data-type="xbox"] .infobox{
  position: absolute;top:0;left:0;
  display: block;
  margin:0px;
}

.gamepad[data-type="xbox"] .button-0{top: 153px;left: 465px;}
.gamepad[data-type="xbox"] .button-1{top: 110px;left: 511px;}
.gamepad[data-type="xbox"] .button-2{top: 111px;left: 421px;}
.gamepad[data-type="xbox"] .button-3{top: 69px;left: 465px;}
.gamepad[data-type="xbox"] .button-4{top:0;left: 171px;}
.gamepad[data-type="xbox"] .button-5{top:0;left: 428px;}
.gamepad[data-type="xbox"] .button-6{top:0;left: 114px;}
.gamepad[data-type="xbox"] .button-7{top:0;left: 483px;}
.gamepad[data-type="xbox"] .button-8{top: 111px;left: 251px;}
.gamepad[data-type="xbox"] .button-9{top: 111px;left: 346px;}
.gamepad[data-type="xbox"] .button-10{top: 110px;left: 137px;}

.gamepad[data-type="xbox"] .button-11{top: 207px;left: 384px;}
.gamepad[data-type="xbox"] .button-12{top: 173px;left: 218px;}
.gamepad[data-type="xbox"] .button-13{top: 249px;left: 217px;}
.gamepad[data-type="xbox"] .button-14{top: 210px;left: 180px;}
.gamepad[data-type="xbox"] .button-15{top: 211px;left: 255px;}
.gamepad[data-type="xbox"] .button-16{top: 39px;left: 299px;}


.gamepad[data-type="xbox"] .axes-0{top: 164px;left: 122px;}
.gamepad[data-type="xbox"] .axes-1{top: 108px;left: 172px;transform: rotate(90deg);}

.gamepad[data-type="xbox"] .axes-2{top: 262px;left: 370px;}
.gamepad[data-type="xbox"] .axes-3{top: 207px;left: 418px;transform: rotate(90deg);}



.gamepad[data-type="xbox"] .info{
  position: static;
  font-size:12px;
}
.gamepad[data-type="xbox"] .infoboxes{
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  padding:5px;
  position: absolute;
  bottom:0;left:0;right:0;
}
