<!doctype html>
<html lang="ko">

<head>
	<title>subway auto selector</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- jquery 관련 -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

	<!-- 부트스트랩 4 : IE8지원안됨! -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<!-- vue.js -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>


	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- meta og -->

	<meta property="og:title" content="subway auto selector">
	<meta property="og:description" content="subway auto selector">
	<meta name="og:image" content="http://www.mins01.com/img/logo.gif">
	<meta property="og:image:width" content="190">
	<meta property="og:image:height" content="70" />
	<meta property="og:site_name" content="subway auto selector" />
	<meta property="og:type" content="website">


	<!-- //meta og -->
	<script src="lists.js"></script>
	<link rel="stylesheet" href="style.css">

	<script>
		var appBox = null;
		$(function () {
			try {
				appBox = new Vue({
					el: '#app-subway-box',
					data: {
						"cat": [
							"sandwichList",
							"saladList",
							"toppingList",
							"freshInfo",
							"sideDrink",
							"catering",

						],
						"object_lists": {},
						"sandwichList": [],
						"saladList": [],
						"toppingList": [],
						"sideDrink": [],
						"catering": [],
						"freshInfo": []
					}
				})
				for (var i = 0, m = lists.length; i < m; i++) {
					appBox[lists[i][0]].push(lists[i]);
				}
				appBox.object_lists = object_lists;
			} catch (e) {

			}

		})

	</script>

</head>

<body>
	<div class="container">
		<div id="app-subway-box">
			<form action="?" onsubmit="return false;">
				
				<div class="el-group">
					<div v-for="cat_name in cat">
							
						<h2 class="mb-1 pb-1">{{ cat_name }} <button class="btn btn-sm btn-info">저장</button></h2>
						<ul>
							<li v-bind:class="[ row[1] , 'el-box']" :data-cal="parseInt(row[4])" v-for="(row, key) in object_lists[cat_name]">
								<img class="row-img" :src="row[6]">
								<input :name="row[8]" type="checkbox">
								<div class="row-tit">{{row[2]}}</div>
								<div class="row-eng">{{row[3]}}</div>
								<div class="row-cal">{{row[4]}}</div>
								<div class="row-summary">{{row[5]}}</div>
								<!-- <div class="row-summary">{{row[6]}}</div>
							<div class="row-summary">{{row[7]}}</div>
							<div class="row-summary">{{row[8]}}</div> -->
							</li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>