@charset "utf-8";

.typing-letters{
    --animation-duration: 0.5s;
    --animation-name:ani-letter-top-down;
}

.typing-letters > .letter{
    display: inline-block;
    animation: none;
    white-space: pre;
}

.typing-letters > .letter:last-child{
    animation: var(--animation-name) var(--animation-duration) linear 0s 1 normal forwards;
}

@keyframes ani-letter-top-down {
    0%{opacity: 0; transform: scale(3) translate(0, -0.5em);}
    100%{opacity: 1; transform: scale(1) translate(0, 0);}
}
@keyframes ani-letter-bottom-up {
    0%{opacity: 0; transform: scale(5) translate(0, 2.5em);}
    100%{opacity: 1; transform: scale(1) translate(0, 0);}
}
@keyframes ani-letter-scale-y {
    0%{opacity: 0; transform: scaleY(5);}
    100%{opacity: 1; transform: scaleY(1);}
}