@charset "utf-8";


/* 변수 선언 */
.booklet-detailt-container{
    --pow:0px;
    --poh:0px;
    --psl:0px;
    --pst:0px;
}

/* 기본 제한 사항 */
html,body{
    padding:0;
    margin:0;
    scrollbar-width: none;
}
.booklet-detail-container{
    box-sizing: border-box !important;
}
.booklet-detail-container *{
    box-sizing: border-box !important;
}




/* 컨테이너 */
.booklet-detail-container{
    outline: dashed 1px #9999;
    width: 100%;
    height: 100vh;
    width: 100svw;
    height: 100svh;
    margin:0 auto;

    padding:20px;

    background-color: rgba(0,0,0,0.5);
}

/* 상세 외각 */
.booklet-detail{
    outline: dashed 1px #f009;

    max-width: 1200px;
    min-width: 300px;

    width: 100%;
    height: 100%;
    margin:0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    background-color: #fff;
}

/* 상세 속 레이아웃 */
.booklet-detail-header{
    outline: dashed 1px #0f09;
    flex: 0 0 auto;
}
.booklet-detail-body{
    outline: dashed 1px #00f9;

    padding: 20px;

    flex:1 1 auto;
    min-height: 300px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    pointer-events: none;

    position: relative;

}
.booklet-detail-footer{
    outline: dashed 1px #0ff9;
    flex: 0 0 auto;
}




/* 뷰어 */
.booklet-detail-view-wrap{
    background-image: url(imgs/bg.gif);
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 5px #0009;
    border: 1px solid #999;
}
.booklet-detail-view{
    pointer-events: all;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding:2%;
}

.booklet-detail-view-img{
    display: block;
    margin:0 auto;
    object-fit: cover;
}
.booklet-detail-view.moveable{
    scrollbar-width: none;
    cursor: move;
}




/* 프리뷰어 */
.booklet-detail-preview-wrap{
    max-width: clamp(120px,20%,200px);
    /* max-height: 200px; */
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    box-shadow: 3px 3px 5px #0009;
    background-image: url(imgs/bg.gif);
    border:1px solid #999;
}
.booklet-detail-preview{
    max-width: 100%;
    max-height: 100%;
    position: relative;
    padding:2%;

    /* mask-image: linear-gradient(rgba(0, 0, 0, 1) 50%, transparent); */

    
}
.booklet-detail-preview-img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.booklet-detail-preview-rect{
    position: absolute;
    top:0;left:0;
    border: 1px dashed #999;;

/* clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); */
    width:var(--preview-rect-width);
    height:var(--preview-rect-height);
    top:var(--preview-rect-top);
    left:var(--preview-rect-left);
    z-index: 3;
}
.booklet-detail-preview-rect-mask{
    
    position: absolute;
    top:0;left:0;bottom: 0;right: 0;
    background-color: #00000066;
    padding:2%;
    z-index: 2;


    /* --bg-var: linear-gradient(0% rgba(0, 0, 0, 1) , 100% rgba(0, 0, 0, 1)); */
    --bg-var:  linear-gradient(#009900ff 100%, transparent 0),linear-gradient(#ff0000ff 100%, transparent 0);
    --bg-size: 100% 100%, var(--preview-rect-width) var(--preview-rect-height);
    --bg-position: center center, calc(var(--preview-rect-left)) var(--preview-rect-top) ;

    -webkit-mask-image: var(--bg-var);
    -webkit-mask-size: var(--bg-size);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: var(--bg-position);
    

    mask-image: var(--bg-var);
    mask-size: var(--bg-size);
    mask-repeat: no-repeat;
    mask-position: var(--bg-position);
    
    mask-composite:subtract,add; -webkit-mask-composite:source-out,source-over;


}