@charset "utf-8";

.jigsaw-wrap{
    --piece-shape-scale:calc(100 / 70);

    --jigsaw-width:500px;
    --jigsaw-height:400px;
    --div-x:3;
    --div-y:3;
    /* --background-image:url(361331715_1995055744165677_6676229993515938374_n.jpg); */
    --background-image:none;

    --piece-wrap-width:calc(var(--jigsaw-width) /var(--div-x) );
    --piece-wrap-height:calc(var(--jigsaw-height) /var(--div-y) );

    display: grid;
    grid-template-columns: repeat(var(--div-x),1fr);
    grid-template-rows: repeat(var(--div-y),1fr);
    width: max-content;
    margin:0 auto;

    /* background-image: url(361331715_1995055744165677_6676229993515938374_n.jpg); */
    background-color: #fff;
    background-size: var(--jigsaw-width) var(--jigsaw-height);
    width:var(--jigsaw-width);
    height:var(--jigsaw-height);

    
}
.jigsaw-wrap[data-div-x="2"]{--div-x:2;}
.jigsaw-wrap[data-div-x="3"]{--div-x:3;}
.jigsaw-wrap[data-div-x="4"]{--div-x:4;}
.jigsaw-wrap[data-div-x="5"]{--div-x:5;}
.jigsaw-wrap[data-div-x="6"]{--div-x:6;}
.jigsaw-wrap[data-div-x="7"]{--div-x:7;}
.jigsaw-wrap[data-div-x="8"]{--div-x:8;}
.jigsaw-wrap[data-div-x="9"]{--div-x:9;}

.jigsaw-wrap[data-div-y="2"]{--div-y:2;}
.jigsaw-wrap[data-div-y="3"]{--div-y:3;}
.jigsaw-wrap[data-div-y="4"]{--div-y:4;}
.jigsaw-wrap[data-div-y="5"]{--div-y:5;}
.jigsaw-wrap[data-div-y="6"]{--div-y:6;}
.jigsaw-wrap[data-div-y="7"]{--div-y:7;}
.jigsaw-wrap[data-div-y="8"]{--div-y:8;}
.jigsaw-wrap[data-div-y="9"]{--div-y:9;}


.jigsaw-wrap.debug .piece-wrap::after,
.jigsaw-wrap .piece-wrap.debug::after{
    top:calc( -1 * var(--shape-uneven-y));
    right:calc( -1 * var(--shape-uneven-x));
    bottom:calc( -1 * var(--shape-uneven-y));
    left:calc( -1 * var(--shape-uneven-x));
}


.jigsaw-wrap > .piece-wrap{
    opacity: 1;
    width:100%;
    height:100%;
}

.jigsaw-wrap .piece-shape{
    top:calc( -1 * var(--shape-uneven-y));
    right:calc( -1 * var(--shape-uneven-x));
    bottom:calc( -1 * var(--shape-uneven-y));
    left:calc( -1 * var(--shape-uneven-x));
}

.jigsaw-wrap .piece-shape{
    background-image: var(--background-image,none);
    background-size: calc(var(--jigsaw-width)  )  calc(var(--jigsaw-height) );
}
.jigsaw-wrap .piece-wrap{ --pos-x:0; --pos-y:0; }
.jigsaw-wrap .piece-wrap[data-pos-x="0"]{ --pos-x:-0;}
.jigsaw-wrap .piece-wrap[data-pos-x="1"]{ --pos-x:-1;}
.jigsaw-wrap .piece-wrap[data-pos-x="2"]{ --pos-x:-2;}
.jigsaw-wrap .piece-wrap[data-pos-x="3"]{ --pos-x:-3;}
.jigsaw-wrap .piece-wrap[data-pos-x="4"]{ --pos-x:-4;}
.jigsaw-wrap .piece-wrap[data-pos-x="5"]{ --pos-x:-5;}
.jigsaw-wrap .piece-wrap[data-pos-x="6"]{ --pos-x:-6;}
.jigsaw-wrap .piece-wrap[data-pos-x="7"]{ --pos-x:-7;}
.jigsaw-wrap .piece-wrap[data-pos-x="8"]{ --pos-x:-8;}
.jigsaw-wrap .piece-wrap[data-pos-x="9"]{ --pos-x:-9;}
.jigsaw-wrap .piece-wrap[data-pos-y="0"]{ --pos-y:-0;}
.jigsaw-wrap .piece-wrap[data-pos-y="1"]{ --pos-y:-1;}
.jigsaw-wrap .piece-wrap[data-pos-y="2"]{ --pos-y:-2;}
.jigsaw-wrap .piece-wrap[data-pos-y="3"]{ --pos-y:-3;}
.jigsaw-wrap .piece-wrap[data-pos-y="4"]{ --pos-y:-4;}
.jigsaw-wrap .piece-wrap[data-pos-y="5"]{ --pos-y:-5;}
.jigsaw-wrap .piece-wrap[data-pos-y="6"]{ --pos-y:-6;}
.jigsaw-wrap .piece-wrap[data-pos-y="7"]{ --pos-y:-7;}
.jigsaw-wrap .piece-wrap[data-pos-y="8"]{ --pos-y:-8;}
.jigsaw-wrap .piece-wrap[data-pos-y="9"]{ --pos-y:-9;}
.jigsaw-wrap .piece-shape{ 
    background-position: 
    calc(var(--jigsaw-width) / var(--div-x) * var(--pos-x) + var(--shape-uneven-x))
    calc(var(--jigsaw-height) / var(--div-y) * var(--pos-y) + var(--shape-uneven-y) );
}